p:hover{
    color:purple;
    font-weight:bold;
}
input:required{
    border: 1px solid black;
}
input:checked{
    margin:40px;
}
p:last-child{
    font-size:30px;
}
p:nth-of-type(2)::first-line{
     font-weight:bold;-
}
p:nth-child(odd)::first-letter{
    font-size:40px;
}
p::selection{
    background-color: gold;
    color:red;
}
p::after{
    content:" 😀";
}
